---
- name: Setup RDP on Windows servers
  hosts: windows_members
  gather_facts: false
  vars:
    domain_controller_ip: "{{ hostvars[groups['windows_dc'][0]]['internal_ip'] }}"
  tasks:
    - name: Enable Remote Desktop
      ansible.windows.win_regedit:
        path: HKLM:\System\CurrentControlSet\Control\Terminal Server
        name: fDenyTSConnections
        data: 0
        type: dword

    - name: Enable Remote Desktop on domain controller
      ansible.windows.win_regedit:
        path: HKLM:\System\CurrentControlSet\Control\Terminal Server
        name: fDenyTSConnections
        data: 0
        type: dword
      delegate_to: "{{ groups['windows_dc'][0] }}"

    - name: Allow Remote Desktop through Windows Firewall
      community.windows.win_firewall_rule:
        name: Remote Desktop
        localport: 3389
        action: allow
        direction: in
        protocol: tcp
        state: present
        enabled: true

    - name: Enable Network Level Authentication (NLA)
      ansible.windows.win_regedit:
        path: HKLM:\System\CurrentControlSet\Control\Terminal Server\WinStations\RDP-Tcp
        name: UserAuthentication
        data: 1
        type: dword

    - name: Set RDP security layer to negotiate
      ansible.windows.win_regedit:
        path: HKLM:\System\CurrentControlSet\Control\Terminal Server\WinStations\RDP-Tcp
        name: SecurityLayer
        data: 1
        type: dword

    - name: Add Domain Users group to Remote Desktop Users
      ansible.windows.win_group_membership:
        name: Remote Desktop Users
        members:
          - "{{ domain_name }}\\Domain Users"
        state: present

    - name: Add specific admin users to Remote Desktop Users
      ansible.windows.win_group_membership:
        name: Remote Desktop Users
        members: "{{ linux_admin_users | map('regex_replace', '^(.*)$', domain_name + '\\\\\\1') | list }}"
        state: present

    - name: Enable RDP service
      ansible.windows.win_service:
        name: TermService
        start_mode: auto
        state: started

    - name: Verify RDP is enabled
      ansible.windows.win_shell: |
        $rdp = Get-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server' -Name fDenyTSConnections
        $service = Get-Service -Name TermService
        @{
          RDP_Enabled = $rdp.fDenyTSConnections -eq 0
          Service_Running = $service.Status -eq 'Running'
        } | ConvertTo-Json
      register: rdp_status
      changed_when: false

    - name: Display RDP status
      ansible.builtin.debug:
        msg: "{{ rdp_status.stdout | from_json }}"
