---
- name: Create domain users and configure access
  hosts: windows_dc
  gather_facts: false
  tasks:
    - name: Create domain users
      microsoft.ad.user:
        name: "{{ item.username }}"
        firstname: "{{ item.firstname }}"
        surname: "{{ item.lastname }}"
        password: "{{ item.password }}"
        password_never_expires: true
        user_cannot_change_password: false
        enabled: true
        groups:
          set:
            - "Domain Users"
        state: present
        path: "CN=Users,DC={{ domain_name }},DC=local"
      loop: "{{ domain_users }}"

    - name: Create SSH Users group
      microsoft.ad.group:
        name: "SSH Users"
        scope: global
        category: security
        state: present
        path: "CN=Users,DC={{ domain_name }},DC=local"

    - name: Add users to SSH Users group
      microsoft.ad.group:
        name: "SSH Users"
        scope: global
        members:
          add:
            - "{{ item.username }}"
        state: present
      loop: "{{ domain_users }}"

    - name: Create Linux Admins group
      microsoft.ad.group:
        name: "Linux Admins"
        scope: global
        category: security
        state: present
        path: "CN=Users,DC={{ domain_name }},DC=local"

    - name: Add specific users to Linux Admins group
      microsoft.ad.group:
        name: "Linux Admins"
        scope: global
        members:
          add: "{{ linux_admin_users }}"
        state: present

    - name: Display created users
      ansible.builtin.debug:
        msg: "Created domain user: {{ item.username }} ({{ item.firstname }} {{ item.lastname }})"
      loop: "{{ domain_users }}"

- name: Configure Linux servers for SSH access with AD groups
  hosts: linux_members
  become: true
  tasks:
    - name: Configure SSH to allow specific AD groups
      ansible.builtin.blockinfile:
        path: /etc/ssh/sshd_config
        block: |
          # Allow specific Active Directory groups and local admin user
          AllowGroups cyberrange sudo {{ ssh_allowed_groups |
                                         map('regex_replace', '^(.*)$', '\\1@' + domain_name + '.local') |
                                         map('regex_replace', ' ', '\\ ') |
                                         join(' ') }}
        marker: "# {mark} ANSIBLE MANAGED BLOCK - AD Groups"
        backup: true
      notify: Restart ssh

    - name: Configure sudo access for Linux Admins group
      ansible.builtin.lineinfile:
        path: /etc/sudoers.d/linux_admins
        line: "%linux\\ admins@{{ domain_name }}.local ALL=(ALL) NOPASSWD:ALL"
        create: true
        mode: '0440'
        validate: 'visudo -cf %s'

    - name: Configure SSSD to use simple names for specific groups
      ansible.builtin.lineinfile:
        path: /etc/sssd/sssd.conf
        regexp: '^use_fully_qualified_names'
        line: 'use_fully_qualified_names = False'
        backup: true
      notify: Restart sssd

    - name: Add simple_allow_groups to SSSD config
      ansible.builtin.lineinfile:
        path: /etc/sssd/sssd.conf
        line: 'simple_allow_groups = {{ ssh_allowed_groups | join(", ") }}'
        insertafter: 'access_provider = ad'
        backup: true
      notify: Restart sssd

    - name: Test SSH configuration
      ansible.builtin.command: sshd -t
      register: sshd_test
      failed_when: sshd_test.rc != 0
      changed_when: false

  handlers:
    - name: Restart ssh
      ansible.builtin.systemd:
        name: ssh
        state: restarted

    - name: Restart sssd
      ansible.builtin.systemd:
        name: sssd
        state: restarted
